
body {
font-weight: normal;
font-style: normal;
text-align: justify;
font-family: Arial;
line-height: 130%;
color: black;
margin-top: 6px;
margin-left:auto;
margin-right:auto;
background-color:#f7f7f7;
}
#contenedor {
position: relative;
margin-left: auto;
margin-right:auto;
margin-top: 1px;
padding: 0px 0px 10px 0px;
background-color:#f7f7f7;  /*a0a0a0;   /*#878787;*/
width:800px;
height:auto;
}
#contenedor table{
width:650px;
margin-top:0px;
margin-left:auto;
margin-right:auto;
color:black;
font-size:14px;
}
td{
padding-left:2px;
}
#encabezado{
/*background-color:#3b5998; /*#c90103;*/
margin:0px 0px 20px 0px;
padding:0px 0px 0px 0px;
height:91px;
width:797px;
}
#descripcion{
float:left;
margin:0px 0px 0px 3px;
padding:0px 0px 0px 0px;
width:569px;
height:88px;
background-color:#f7f7f7;
}
#caja{
margin:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
width:569px;
height:26px;
background-color:#3b5998;
}
#caja p{
margin:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
color:white;
text-align:center;
height:26px;
width:569px;
font-size:20px;
}
#caja4{
margin:2px 0px 0px 0px;
padding:0px 0px 0px 0px;
width:569px;
height:31px;
background-color:#3b5998;
}
#caja4 p{
margin:2px 0px 0px 0px;
padding:4px 0px 0px 0px;
color:white;
text-align:center;
height:27px;
width:569px;
font-size:17px;
}
#caja2{
margin:2px 0px 0px 0px;
padding:0px 0px 0px 0px;
width:569px;
height:26px;
background-color:#3b5998;
}
#caja2 p{
margin:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
color:white;
text-align:center;
height:26px;
width:569px;
font-size:17px;
}
#caja3{
float:left;
margin:0px 0px 0px 10px;
padding:0px 0px 0px 0px;
width:270px;
height:26px;
background-color:#3b5998;
}
#caja3 p{
margin:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
color:white;
text-align:center;
height:26px;
width:270px;
font-size:16px;
}
/*DISENO PARA EL FRAME QUE GUARDARA LOS GRAFICOS---------------------------------------------------*/
#grafico{
margin-top:10px;
margin-left:auto;
margin-right:auto;
padding:0px 0px 0px 0px;
width:600px;
height:auto;
}
#grafico2{
margin-top:10px;
margin-left:auto;
margin-right:auto;
padding:0px 0px 0px 0px;
width:750px;
height:auto;
}


/*DISENO PARA EL VERDADERO CONSOLIDADO DE MES-------------------------------------------------------*/

#consolidado{
width:800px;
height:auto;
margin:10px 0px 20px 0px;
padding:0px 0px 0px 0px;
background-color:transparent;
}
#colaboradores{
float:left;
width:200px;
height:auto;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
}
#colaboradores table{
margin:0px 0px 10px 0px;
padding:0px 0p 0px 0px;
width:200px;
height:auto;
}
#actividades{
float:left;
width:300px;
height:auto;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
}
#actividades table{
margin:0px 0px 10px 0px;
padding:0px 0p 0px 0px;
width:300px;
height:auto;
}
#empresas{
float:left;
width:300px;
height:auto;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
}
#empresas table{
margin:0px 0px 20px 0px;
padding:0px 0p 0px 0px;
width:300px;
height:auto;
}


/*ESTILO PARA REPORTE EMPRESAS,ACTIVIDADES,AREAS-----------------------------------------------------------------*/

#box0{
margin:20px 0px 0px 0px;
padding:0px 0p 0px 0px;
width:1000px;
height:auto;
margin-left:auto;
margin-right:auto;
}
#box01{
margin:0px 0px 0px 0px;
padding:0px 0p 0px 0px;
width:700px;
height:auto;
margin-left:auto;
margin-right:auto;
}
#box01 table {
margin:0px 0px 0px 0px;
padding:0px 0p 0px 0px;
width:700px;
}
#box1{
margin:0px 0px 0px 0px;
padding:0px 0p 0px 0px;
width:700px;
height:25px;
background-color:#3b5998;
margin-left:auto;
margin-right:auto;
}
#box2{
float:left;
margin:0px 0px 0px 0px;
padding:0px 0p 0px 0px;
width:230px;
height:25px;
}
#box2 p {
margin:0px 0px 0px 0px;
padding:4px 0p 0px 0px;
width:230px;
height:25px;
font-size:17px;
color:white;
text-align:center;
font-weight:bold;
}
#box3{
float:left;
margin:0px 0px 0px 0px;
padding:0px 0p 0px 0px;
width:230px;
height:25px;
}
#box3 p {
margin:0px 0px 0px 0px;
padding:4px 0p 0px 0px;
width:230px;
height:25px;
font-size:17px;
color:white;
text-align:center;
font-weight:bold;
}
#box4{
float:left;
margin:0px 0px 0px 0px;
padding:0px 0p 0px 0px;
width:200px;
height:25px;
}
#box4 p {
margin:0px 0px 0px 0px;
padding:4px 0p 0px 0px;
width:200px;
height:25px;
font-size:17px;
color:white;
text-align:center;
font-weight:bold;
}
#box5{
float:left;
margin:0px 0px 0px 0px;
padding:0px 0p 0px 0px;
width:40px;
height:25px;
}
#box5 p {
margin:0px 0px 0px 0px;
padding:4px 0p 0px 0px;
width:40px;
height:25px;
font-size:17px;
color:white;
text-align:center;
font-weight:bold;
}


/*----------------------------------------------------------------------------------------------*/

